.merriweather-normal{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
body{
    margin-bottom: 120px;
    
}

/* Share Style */


/* header */
.banner{
   background-image:linear-gradient(#070211, #0702112b),url('../images/Banner Image.png');
    margin: 50px auto;
    width: 1370px;
    height: 600px;
    border-radius: 16px;
      
}
.banner-title{
    color: #FFFFFF;  
    font-size: 32px;
    text-align: center;
  
}
.banner-description{
    text-align: center;
    font-size: 70px;
    font-weight: 900px;
    color:#FFFFFF;
     margin-top: 30px; 
}
.banner-details{
   padding: 160px 344px;  
}
/* OFF */
.off-container{
    text-align: center;
    
}
.off-container h1,p{
    color: #FF0000;
    margin-bottom: 30px;
}
.off-title{
    font-size: 88px;
    font-weight: bold;
   
}
.off-description{
    font-size: 24px;
    font-weight: 500px;
}
.off-categores{
     font-size: 48px;
    font-weight: bold;
    margin: 10px;
}
.off-container img{
    margin-top: 50px;
    width:800px ;
    height: 500px;
}
/* Party */
.party{
    background-image: linear-gradient(#070211a8,#07021150),url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    margin: 80px auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
}
.party-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 80px;
  
   
}
.party-col{
    width: 60%;
    padding-bottom:  90px ;
    
}
.party-title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 64px;
}
.party-description{
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    font-size: 18px;
    margin-top: 10px;
}
.party-container button {
   
    background: none;
    border: none;
    font-weight: bold;
    font-size: 20px;

}
.party-container button a{
      color: rgba(255, 255, 255, 1);
      text-decoration: none;
}
/* Place */
.place{
   
    background-image: linear-gradient(#ff000025,#ff000000);
    width:1320px;
    height: 482px;
    margin: 120px auto;
    border-radius: 10px;
}
.place-description{
    text-align: center;
    padding: 110px 386px;
}
.place-description h3{
    font-size: 32px;
    font-weight: 600px;
    color: #070211;
}
.pdt{
    color: #FF0000;
}
.join{
    background-color: #FF0000;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* best-offer */
.best-offer{
    width:1320px;
    height: 482px;
    margin: 120px auto;
}
.best-offer-container{
    display: flex;
    align-items: center;
    gap: 50px;
    width: 100%;
    /* padding: 100px; */
    
}

.best-offer-first h5{
        font-size:24px ;
        font-weight:600px ;
        color: #FF0000;
        margin-bottom: 10px;
}
.best-offer-first h4{
        font-size:48px ;
        font-weight:900px ;
        color: #070211;
        margin-top: 20px;
        margin-bottom: 10px;
}

.best-offer-first p{
        font-size:20px ;
        font-weight:400px ;
        color: rgba(7, 2, 17, 0.6);
        margin-top:20px; 
        text-align: justify;
}
.best-offer-mid{
    border: 15px solid red;
    border-radius: 50%;
}
.best-offer-mid img{
    width: 364px;
    height: 364px;
    padding: 50px;
}
.best-offer-third h4{
    
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    margin-bottom: 10px;
}
.best-offer-third p{
    text-align: justify;
    font-size: 20px;
    font-weight: 400px;
    color: #07021161;
    margin-bottom: 50px;
}
/* Sales */
.holiday-sale{
    text-align: center;
    margin: 120px 140px;
}
.sale-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.sale-sub-title{
    font-size: 72px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 20px;
}
.sale-sub-title span{
    color: red;
}
.sales-description{
    font-size: 20px;
    font-weight: 600;
    color: grey;
    margin-top: 10px;
    padding: 28px 150px;
  
}
.holiday-sale img{
    width: 500px;
}



